@font-face {
  font-family: superMario;
  src: url(/assets/fonts/SuperMarioBrothers-4nmp.ttf);
}

@font-face {
  font-family: snes;
  src: url(/assets/fonts/SnesItalic-vmAPZ.ttf);
}

#attractionPage-navbar {
  background-color: #e60012;
}

#attractionPage-navbar.row {
  height: inherit;
}

#navbar-link {
  margin: 0;
  text-align: center;
}

#navbar-link a {
  font-family: snes;
  font-size: 2em;
}

#img-navbar {
  height: 68px;
  width: 140px;
}

#mushroomAttr-title {
  text-align: center;
  font-family: superMario;
}

.attrArticle {
  height: inherit;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: justify;
  margin-right: 1em;
  margin-bottom: 1em;
}

.attrArticle-title {
  color: rgb(100, 100, 100);
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  font-family: snes;
}

.img-attrArticle {
  background-color: rgb(160, 160, 160);
  height: 7em;
  width: 12.4em;
  border-radius: 5px;
  float: left;
  margin-right: 0.5em;
}
