@font-face {
  font-family: nintend;
  src: url(/assets/fonts/NintendBold-RM8E.ttf);
}

@font-face {
  font-family: snes;
  src: url(/assets/fonts/SnesItalic-vmAPZ.ttf);
}

.nav-wrapper {
  background-color: #e60012;
}

.navbar-link {
  width: 5em;
  font-family: snes;
  font-size: 2em;
  border-left: 1px solid red;
  text-align: center;
}

.brand-logo {
  font-size: 1em !important;
  padding-left: 0.5em !important;
}

#img-myNintendoLogo_nav {
  padding: 5px 0;
  margin-bottom: -22.8px;
  height: 64px;
}

#nintendo-logo {
  font-family: nintend;
  border: 0.3em solid #fff;
  border-radius: 30px;
  padding: 0.4em;
}

#mainPage-title {
  padding: 0.3em;
  font-size: 4.5vw;
  font-weight: bolder;
  font-family: nintend;
  border: 0.4em solid #e60012;
  border-radius: 8em;
  text-align: center;
  color: #e60012;
}

.sidenav {
  width: 13em;
}
.sidenav a {
  color: #e60012 !important;
  font-size: x-large !important;
  text-align: center;
}

#img-myNintendoLogo_side {
  padding-top: 0.5em;
  height: 1.7em;
}

.divider {
  margin: 0 !important;
  background-color: rgb(230, 0, 18);
}
