@font-face {
  font-family: nintend;
  src: url(/assets/fonts/NintendBold-RM8E.ttf);
}

@font-face {
  font-family: snes;
  src: url(/assets/fonts/SnesItalic-vmAPZ.ttf);
}

.nav-wrapper {
  background-color: #e60012;
}

/* #mainPage-navbar {
  background-color: #e60012;
}
#mainPage-navbar.row {
  height: inherit;
}

#navbar-link {
  margin: 0;
  text-align: center;
}
*/

.navbar-link {
  width: 5em;
  font-family: snes;
  font-size: 2em;
  border-left: 1px solid red;
  text-align: center;
}

.brand-logo {
  font-size: 1em !important;
  padding-left: 0.5em !important;
}

#nintendo-logo {
  font-family: nintend;
  border: 0.3em solid #fff;
  border-radius: 30px;
  padding: 0.4em;
}

#mainPage-title {
  padding: 0.3em;
  font-size: 4.5vw;
  font-weight: bolder;
  font-family: nintend;
  border: 0.4em solid #e60012;
  border-radius: 8em;
  text-align: center;
  color: #e60012;
}
